body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(186, 227, 235);
    }
    
    .navbar{
    display: flex;
    justify-content: space-between;
    align-items: justify;
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    }
    
    .navbar .logo{
    font-size: 24px;
    font-weight: bold;
    }
    
    .navbar .nav-links a{
    color: #fff;
    text-decoration:underline
    margin-left: 20px;
    }
    
    .content{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    }
    
    .left-side{
    flex: 1;
    padding: 20px;
    }
    
    .left-side img{
    width: 100%;
    height: auto;
    max-width: 400px;
    }
    
    .right-side{
    flex: 2;
    padding: 20px;
    }
    
    .movie-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    }
    
    .movie-item{
    text-align: justify;
    }
    
    .movie-item img{
    width: 100%;
    height: auto;
    max-width: 150px;
    }
    
    @media (max-width: 768px){
    .content {
    flex-direction: column;
    }
    
    .movie-grid{
    grid-template-columns: repeat(2, 1fr);
    }
    }
    
    @media (max-width: 480px){
    .navbar .nav-links a {
    margin-left: 10px;
    font-size: 20px;
    }
    
    .movie-grid{
    grid-template-columns: 1fr;
    }
    
    .movie-item img{
    max-width: 100px;
    }
    }